#!/usr/bin/perl -w

my $config
    = {
       files => [
		 './bin/neurospaces',
		 './configure.ac',
# 		 './test-dist',
		 './tests.config',
		 './tests/tests.config',
		],
       labels => {
		  package => '',
		  major => '',
		  minor => '',
		  micro => '',
		  label => '',
		  email => '',
		 },
      };

return $config;

