#!/usr/bin/perl -w

my $config
    = {
       files => [
		 './bin/neurospaces',
		 './configure.ac',
		 './install/rpm/studio.spec',
# 		 './test-dist',
		 './tests.config',
		 './tests/tests.config',
		],
       labels => {
		  package => 'studio',
		  major => '0',
		  minor => '0',
		  micro => '0',
		  label => 'alpha',
		  email => 'hugo.cornelis@gmail.com',
		 },
      };

return $config;

