#!/usr/bin/perl -w
#!/usr/bin/perl -d:ptkdb
#
#
#

use strict;


# $Format: "my $package_name = \"${package}\";"$
my $package_name = "studio";
# $Format: "my $package_label = \"${label}\";"$
my $package_label = "build-32";
# $Format: "my $package_version = \"${major}-${minor}-${micro}\";"$
my $package_version = "build-32-0";

my $monotone_id = `mtn automate get_current_revision_id`;
chomp $monotone_id;


my $config
    = {
       core_directory => './',
       description => 'Configure the tester when run from this directory',
       outputs_dir => './tests/html',
       package => {
		   label => $package_label,
		   name => $package_name,
		   version => $package_version,
		   version_control_id => $monotone_id,
		  },
       tests_directory => './tests/specifications',
      };


return $config;


