#!/usr/bin/perl -w
#!/usr/bin/perl -d:ptkdb
#
#
#

use strict;


if ($ENV{srcdir})
{
    print "Found ENV{srcdir} ($ENV{srcdir}), using it for finding perl modules\n";

#     push @INC, "$ENV{srcdir}";

}

my $config
    = {
       #! so the core_directory was set to ../.. in -r c21a1a03ecb0568349b82aeba3ca65dbad31733c of ssp
       #! this is related somehow to distcheck, not sure how.

       core_directory => ($ENV{srcdir} || '.') . '/../',
       description => 'Configure the tester when run from this directory',
       outputs_dir => './html',
       tests_directory => ($ENV{srcdir} || '.') . '/specifications',
      };


return $config;


