#!/usr/bin/perl -w
#!/usr/bin/perl -d:ptkdb
#
#
#

use strict;


if ($ENV{srcdir})
{
    print "Found ENV{srcdir} ($ENV{srcdir}), using it for finding perl modules\n";

#     push @INC, "$ENV{srcdir}";

}

# $Format: "my $package_name = \"${package}\";"$
my $package_name = "studio";
# $Format: "my $package_label = \"${label}\";"$
my $package_label = "network-5";
# $Format: "my $package_version = \"${major}-${minor}-${micro}\";"$
my $package_version = "network-5-0";

my $monotone_id = `mtn automate get_current_revision_id`;
chomp $monotone_id;


my $config
    = {
       #! so the core_directory was set to ../.. in -r c21a1a03ecb0568349b82aeba3ca65dbad31733c of heccer
       #! this is related somehow to distcheck, not sure how.

       core_directory => ($ENV{srcdir} || '.') . '/../',
       description => 'Configure the tester when run from this directory',
       outputs_dir => './html',
       package => {
		   label => $package_label,
		   name => $package_name,
		   version => $package_version,
		   version_control_id => $monotone_id,
		  },
       tests_directory => ($ENV{srcdir} || '.') . '/specifications',
      };


return $config;


